:root {
    --main: #f32d75;
    --second: #f9deca;
    --text: #85316e;
    --secondtext: #fba255;
    --sp: 10vw;
    font-size: 16px;
}

.container {
    margin-top: 15vh;
    padding-left: var(--sp);
    padding-right: var(--sp);
    transition: 0.2s;
    border: 2px solid #f32d75;
    
}
.container:hover {
    cursor: pointer;
    background-color: var(--main);
    color: var(--secondtext);
    transform: scale(1.1);
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}